body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url('./assets/welcome.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  overflow: hidden;
}

.App {
  text-align: center;
  padding: 20px;
  width: 100%;
}

/* Welcome */
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  max-width: 400px;
  padding: 30px;
  backdrop-filter: blur(10px);
}

.welcome h1 {
  color: #e5f2e6;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.welcome p {
  color: #d0e9d6;
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.6;
  animation: fadeIn 1s ease-out;
}

.welcome button {
  background-color: #3e8b47;
  color: white;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.welcome button:hover {
  background-color: #2c6b2f;
  transform: scale(1.05);
}

/* RoomSelection */
.room-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  text-align: center;
}

.room-selection h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.room-button {
  width: 200px;
  height: 400px;
  background-image: url('./assets/door.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0;
}

.room-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.room-button span {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* RoomDescription */
.room-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #f5f5f5;
}

.room-description p {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  overflow-y: auto;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: #e5f2e6;
  font-size: 1.2em;
  line-height: 1.6;
}

.room-description h3 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ffffff;
}

.room-description .objects {
  margin-top: 20px;
}

.objects h4 {
  font-size: 1.5em;
  color: #e5f2e6;
  text-align: center;
}

.objects .button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.objects button {
  background-color: #3b4b5c;
  color: white;
  font-size: 1.2em;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.objects button:hover {
  background-color: #526a84;
  transform: scale(1.05);
}

/* ObjectInspection */
.inspection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px;
  color: #f5f5f5;
}

.inspection h4 {
  font-size: 2.2em;
  color: #ffffff;
  margin-bottom: 30px;
}

.inspection p {
  font-size: 1.5em;
  color: #e5f2e6;
  text-align: center;
}

.inspection input {
  padding: 12px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.inspection input:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 1);
}

.inspection button {
  background-color: #4caf50;
  color: white;
  padding: 12px 28px;
  margin-top: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1.2em;
}

.inspection button:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}
